<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any">
         <separator
               name="org.eclipse.test.plugin.separator">
         </separator>
         <command
               commandId="org.jtool.eclipse.commands.build"
               icon="icons/history_rep.gif"
               label="Build Java Model"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IProject">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.jtool.eclipse.commands.category"
            name="Jtool Category">
      </category>
      <command
            categoryId="org.jtool.eclipse.commands.category"
            id="org.jtool.eclipse.commands.build"
            name="Build Java Model">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.jtool.eclipse.plugin.BuildAction"
            commandId="org.jtool.eclipse.commands.build">
      </handler>
   </extension>

</plugin>
